* {
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
}


h2 {
  margin-top: 0;
  font-size: 2em;
  text-align: center;
  padding-top: 10vh;
  font-family: 'Berkshire Swash', cursive;
}

.bgBlue h2 {
  color: #F4DEBB;
}

.paragrapheMain{
  padding: 5vh;
  text-align: center;
  /*font-family: opensemibold;*/
}

.mainPart {
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#myVideo{
  /* height:100vh; */
  width: 100%;
  position:fixed;
  z-index: -1;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}



#container {
    background-image: url("../img/Loches4.jpg");
    background-position: 50% 35%;
    height: 100vh;
}

#empty {
  background-image: url("../img/Loches3.jpg");
  background-position: 0% -20%;
  height: 100vh;
}

#empty2 {
  background-image: url("../img/Loches5.jpg");
  background-position: 0% -20%;
  height: 100vh;
}


.bgBlue {
  color: #D9B897;
  background-color: #565E75;
}

.bgBleuClair {
  color: #3F3233;
  background-color: #A0CEF1;
}


.bgVert {
  color: #3F3233;
  background-color: #C2C694;
}

.bgBleuFoncé {
  color: #D9B897;
  background-color: #3B4C5C;
}

.bgBeige {
  color: #3F3233;
  background-color: #D9B897;
}

.bgOrange {
  color: #3F3233;
  background-color: #9A5E41;
}


#logo{
  padding: 1vh;
  padding: 1vw;
  float: left;
  height: 13vh;
  margin-right: 15vh;
}

.reseau {
  width: 4vw;
  height: 8vh;
}

#home{
  background-position: center;

}

#container2{
  display: inline-block;
}

.activite{
  background-repeat: no-repeat;
  height: 10vh;
  width: 10vw;
  color: white;
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 15vh;
}


.onglet_bandeau{
  padding: 1vh;
  font-size: 1.4em;
  display: inline-block;
  font-family: 'Berkshire Swash', cursive;
  margin-top: 4vh;
  margin-right: 20px;
}

#bandana{
  background-color: #3F3233;
  height: 13vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.onglet_bandeau a {
  text-decoration: none;
  color: #F4DEBB;
  font-size: 1.5vw;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.contain {
  /*margin: 0 auto;*/
  width: 100vh;
  height: 20vw;
  position: relative;
  perspective: 1000px;
}

/*#carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}*/

.item {
  display: block;
  position: absolute;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}

#myCarousel{
  height: 17.4vh;
  width: 50vw;
  margin: auto;
}

.carousel h3 {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    /*color: #D9B897;*/
    padding: 4px;
    /*width: auto;*/
    /*height: auto;*/
    /*position: absolute;*/
}

.carousel-caption {
  /*opacity: 0.3;*/
}

.carousel {
  height: 17.4vh;
  width: 50vw;
  margin: auto;
}

#myCarousel2, #myCarousel3, #myCarousel4 {
  margin-top: 5%;
}

.carousel-caption{
  padding-top: 5%;
}

.titleCarousel {
  text-align: center;
  color: black;
  font-family: 'Berkshire Swash', cursive;
}

#footer span {
  display: block;
}

#footer {
  height: 27vh;
  position: relative;
}

.contactEtInfos {
  position: absolute;
  font-size: 2vh;
  top: 3vh;
  left: 8vw;
}

.contact {
  margin-left: -10px;
  font-size: 3vh;
  margin-bottom: 15px;
  font-family: 'Berkshire Swash', cursive;
}

.petitsLiens {
  position: absolute;
  font-size: 2vh;
  top: 3vh;
  left: 45vw;
  bottom: 8px;
  right: 20vw;
}

.petitsLiens a {
  color: #3F3233;
  margin-right: 15px;
}

.icons {
  position: absolute;
  top: 3vh;
  left: 80vw;
}

.icons a {
  display: block;
}


#fandt {
  float: left;
  margin-right: 20px;
  display: inline-block;
}

#facebook {
  margin-bottom: 20px;
}

#logoLoches img{
  margin-bottom: 15px;
  width : 38%;
  height : 38%;
}

video#bgvid {
  right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto;
  background: url(img/Loches4.jpg) no-repeat;
  background-size: cover;
}

@media screen and (max-device-width: 800px) {
html { background: url(polina.jpg) #000 no-repeat center center fixed; }
#bgvid { display: none; }

#bandana{
  height: 50vh;
  position: inherit;
}

.mainPart{
  height: inherit;
}

#bandana a{
  text-align: center;
  margin-bottom: 100px;
  font-size: 2vh;
  color: #222;
}

.paragrapheMain{
  font-size : 2vh;
}

#fandt img{
  display: inline-block;
  width: 50%;
  height: 50%;
}

#lg {
  height: 20vh;
  background-color: #4E5975;
  padding-left: 30vw;
  padding-right:30vw;
  padding-top: 4vh;
}

#logo{
  width: 100%;
  height: 100%;
  padding-bottom: 4vh;
}

#bandana div{
  text-align: center;
}

.gris{
  opacity: 0.95;
  /*background-color: #9A5E41;*/
  background-color: #D9B897;
}

.blanc{
  background-color: #9A5E41;
  opacity: 0.95;
}

.onglet_bandeau {
  height: 6vh;
  margin: 0;
  display: block;
}


}
