* {
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
}


h2 {
  margin-top: 0;
  font-size: 2em;
  text-align: center;
  padding-top: 10vh;
  font-family: 'Berkshire Swash', cursive;
}

.bgBlue h2 {
  color: #F4DEBB;
}

.paragrapheMain{
  padding: 5vh;
  text-align: center;
  /*font-family: opensemibold;*/
  font-size: 1.2vw;
}

.mainPart {
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#myVideo{
  /* height:100vh; */

  width:100%;
}


#container {
    background-image: url("../img/Loches4.jpg");
    background-position: 50% 35%;
    height: 100vh;
}

#empty {
  background-image: url("../img/Loches3.jpg");
  background-position: 0% -20%;
  height: 100vh;
}

#empty2 {
  background-image: url("../img/Loches5.jpg");
  background-position: 0% -20%;
  height: 100vh;
}


.bgBlue {
  color: #D9B897;
  background-color: #565E75;
}

.bgBleuClair {
  color: #3F3233;
  background-color: #A0CEF1;
}

#discover{
  /*margin-top: 10vh;*/
  height: 100vh;
  background-color: #4E5975;
}

.bgVert {
  color: #3F3233;
  background-color: #C2C694;
}

.bgBleuFoncé {
  color: #D9B897;
  background-color: #3B4C5C;
}

.bgBeige {
  color: #3F3233;
  background-color: #D9B897;
}

.bgOrange {
  color: #3F3233;
  background-color: #9A5E41;
}


#logo{
  padding: 1vh;
  padding: 1vw;
  float: left;
  margin-right: 15vh;
}

.reseau {
  width: 4vw;
  height: 8vh;
}

#home{
  background-image: url("../img/accueil.jpg");
  background-position: center;
}

#container2{
  display: inline-block;

}

.activite{
  background-repeat: no-repeat;
  height: 10vh;
  width: 10vw;
  color: white;
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 15vh;
}


.onglet_bandeau{
  padding: 1vh;
  font-size: 1.4em;
  display: inline-block;
  font-family: 'Berkshire Swash', cursive;
  margin-top: 4vh;
  margin-right: 20px;
}

#bandana{
  background-color: #3F3233;
  height: 13vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.onglet_bandeau a {
  text-decoration: none;
  color: #F4DEBB;
  font-size: 1.5vw;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.contain {
  /*margin: 0 auto;*/
  width: 100vh;
  height: 20vw;
  position: relative;
  perspective: 1000px;
}

#carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
  background: #ed1c24;
  background-repeat: no-repeat;
  background-image: url("../img/panolr04.jpg");

}

.b {
  transform: rotateY(120deg) translateZ(250px);
  background: #0072bc;
  background-repeat: no-repeat;
  background-image: url("../img/jardin.PNG");
}

#myCarousel h3 {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    /*color: #D9B897;*/
    padding: 4px;
    /*width: auto;*/
    /*height: auto;*/
    /*position: absolute;*/
}

.carousel-caption {
  /*opacity: 0.3;*/
}

#myCarousel {
  height: 17.4vh;
  width: 50vw;
  margin: auto;
}

.carousel-caption{
  padding-top: 5%;
}


#footer span {
  display: block;
  margin-top: 3px;
}

#footer {
  height: 27vh;
  position: relative;
}

.contactEtInfos {
  position: absolute;
  font-size: 1.1em;
  top: 4vh;
  left: 8vw;
}

.contact {
  margin-left: -10px;
  font-size: 2vw;
  margin-bottom: 15px;
  font-family: 'Berkshire Swash', cursive;
}

.petitsLiens {
  position: absolute;
  top: 4vh;
  left: 45vw;
  bottom: 8px;
  right: 20vw;
}

.petitsLiens a {
  color: #3F3233;
  margin-right: 15px;
}

.icons {
  position: absolute;
  top: 4vh;
  left: 80vw;
}

.icons a {
  display: block;
}

#fandt {
  float: left;
  margin-right: 20px;
}

#facebook {
  margin-bottom: 20px;
}

#logoLoches {
  margin-bottom: 15px;
}
