* {
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
}


h2 {
  margin-top: 0;
  font-size: 2em;
  text-align: center;
  padding-top: 10vh;
  font-family: 'Berkshire Swash', cursive;
}

.bgBlue h2 {
  color: #F4DEBB;
}

.para {
  padding: 5vh;
  text-align: center;
  font-size: 1.3vw;
}

.mainPart h2 {
  font-size: 2.5em;
}

.mainPart {
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

video#bgvid {
  right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  background: url(img/Loches4.jpg) no-repeat;
  background-size: cover;
}


#myVideo{
  height: auto;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#bgvid {
  background: transparent;
  background-color: #4E5975;
}



#container {
    background-image: url("../img/Loches4.jpg");
    background-position: 50% 35%;
    height: 100vh;
}

#empty {
  background-image: url("../img/Loches3.jpg");
  background-position: 0% -20%;
  height: 100vh;
}

#empty2 {
  background-image: url("../img/Loches5.jpg");
  background-position: 0% -20%;
  height: 100vh;
}

.pulse {
  width: 100px;
  height: 100px;
  border: 5px solid #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 50%;
  -webkit-animation: pulse 1s ease-out;
  -moz-animation: pulse 1s ease-out;
  animation: pulse 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: rgba(255,255,255,0.5);
  z-index: 10;
  position: absolute;
  right:10%;
  top:75%;
}


#volume{
  display:inline-block;
  cursor:pointer;
  position:absolute;
  font-size:3em;
  top:78.5%;
  right:11.5%;
  z-index:10;
  -webkit-animation: circle 1s ease-out;
  -moz-animation: circle 1s ease-out;
  animation: circle 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer */
-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
-webkit-user-select: none; /* Chrome, Safari, and Opera */
-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

/* @keyframes circle {
  0% {
     -moz-transform: translate(-50%;-50%);
     opacity: 1;
  }
  25% {
     -moz-transform: translate(-50%;-50%);
     opacity: 1;
  }
  50% {
     -moz-transform: translate(-50%;-50%);
     opacity: 1;
  }
  75% {
     -moz-transform: translate(-50%;-50%);
     opacity: 1;
  }
  100% {
     -moz-transform: translate(-50%;-50%);
     opacity: 1;
  }
}
@-webkit-keyframes "circle" {
 0% {
    -webkit-transform: translate(-50%,-50%);
    opacity: 1;
 }
 25% {
    -webkit-transform: translate(-50%,-50%);
    opacity: 1;
 }
 50% {
    -webkit-transform: translate(-50%,-50%);
    opacity: 1;
 }
 75% {
    -webkit-transform: translate(-50%,-50%);
    opacity: 1;
 }
 100% {
    -webkit-transform: translate(-50%,-50%);
    opacity: 1;
 }
} */





@-moz-keyframes pulse {
 0% {
    -moz-transform: scale(1);
    opacity: 1;
 }
 25% {
    -moz-transform: scale(1.2);
    opacity: 1;
 }
 50% {
    -moz-transform: scale(1.4);
    opacity: 1;
 }
 75% {
    -moz-transform: scale(1.5);
    opacity: 1;
 }
 100% {
    -moz-transform: scale(2);
    opacity: 1;
 }
}

@-webkit-keyframes "pulse" {
 0% {
    -webkit-transform: scale(1);
    opacity: 1;
 }
 25% {
    -webkit-transform: scale(1.2);
    opacity: 1;
 }
 50% {
    -webkit-transform: scale(1.4);
    opacity: 1;
 }
 75% {
    -webkit-transform: scale(1.5);
    opacity: 1;
 }
 100% {
    -webkit-transform: scale(2);
    opacity: 1;
 }
}

.bgBlue {
  color: #D9B897;
  background-color: #4E5975;
}

.bgBleuClair {
  color: #3F3233;
  background-color: #A0CEF1;
}

.downArrow{
	position: absolute;
  color:#fff;

	top: 90%;
	left: 50%;
}

#fleche{
  color:#fff;
  font-size:65px;
}
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}



.bgVert {
  color: #3F3233;
  background-color: #C2C694;
}

.bgBleuFoncé {
  color: #D9B897;
  background-color: #3B4C5C;
}

.bgBeige {
  color: #3F3233;
  background-color: #D9B897;
}

.bgOrange {
  color: #3F3233;
  background-color: #9A5E41;
}


#logo{
  padding: 1vh;
  padding: 1vw;
  float: left;
  height: 13vh;
  margin-right: 15vh;
}

.reseau {
  width: 4vw;
  height: 8vh;
}

#home{
  background-position: center;

}

#container2{
  display: inline-block;
}

.activite{
  background-repeat: no-repeat;
  height: 10vh;
  width: 10vw;
  color: white;
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 15vh;
}


.onglet_bandeau{
  padding: 1vh;
  /*font-size: 1.4em;*/
  display: inline-block;
  font-family: 'Berkshire Swash', cursive;
  margin-top: 4vh;
  margin-right: 20px;
}

#bandana{
  background-color: #3F3233;
  height: 13vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.onglet_bandeau a {
  text-decoration: none;
  color: #F4DEBB;
  font-size: 1.5vw;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.contain {
  /*margin: 0 auto;*/
  width: 100vh;
  height: 20vw;
  position: relative;
  perspective: 1000px;
}

/*#carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}*/

.item {
  display: block;
  position: absolute;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}

#myCarousel{
  height: 17.4vh;
  width: 50vw;
  margin: auto;
}

.carousel h3 {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    /*color: #D9B897;*/
    padding: 4px;
    /*width: auto;*/
    /*height: auto;*/
    /*position: absolute;*/
}

.carousel-caption {
  /*opacity: 0.3;*/
}

.carousel {
  height: 17.4vh;
  width: 50vw;
  margin: auto;
}

#myCarousel2, #myCarousel3, #myCarousel4 {
  margin-top: 5%;
}

.carousel-caption{
  padding-top: 5%;
}

.titleCarousel {
  text-align: center;
  color: black;
  font-family: 'Berkshire Swash', cursive;
}

#footer span {
  display: block;
}

#footer {
  height: 29vh;
  position: relative;
}

.contactEtInfos {
  position: absolute;
  font-size: 2vh;
  top: 3vh;
  left: 8vw;
}

.contact {
  margin-left: -10px;
  font-size: 3vh;
  margin-bottom: 15px;
  font-family: 'Berkshire Swash', cursive;
}

.petitsLiens {
  position: absolute;
  font-size: 2vh;
  top: 3vh;
  left: 45vw;
  bottom: 8px;
  right: 20vw;
}

.petitsLiens a {
  color: #3F3233;
  margin-right: 15px;
}

.icons {
  position: absolute;
  top: 3vh;
  left: 80vw;
}

.icons a {
  display: block;
}


#fandt {
  float: left;
  margin-right: 20px;
  display: inline-block;
}

#facebook {
  margin-bottom: 20px;
}

#logoLoches img{
  margin-bottom: 15px;
  width : 38%;
  height : 38%;
}



@media screen and (max-width: 800px) {
html { background: url(polina.jpg) #000 no-repeat center center fixed; }
#bgvid { display: none; }

#bandana{
  height: 50vh;
  position: inherit;
}

.mainPart{
  height: inherit;
}

.para{
  font-size: 2vh;
}

.contactEtInfos{
  font-size: 80%;
}

.petitsLiens{
  font-size: 80%;
}

#bandana a{
  text-align: center;
  margin-bottom: 100px;
  font-size: 2vh;
  color: #222;
}

.paragrapheMain{
  font-size : 2vh;
}

#fandt img{
  width: 5vw;
  height: 5vh;
}

#fandt td{
  margin: 1vh;
}




#lg {
  height: 20vh;
  background-color: #4E5975;
  padding-left: 30vw;
  padding-right:30vw;
  padding-top: 4vh;
}

#logo{
  width: 100%;
  height: 100%;
  padding-bottom: 4vh;
}

#bandana div{
  text-align: center;
}

.gris{
  opacity: 0.95;
  /*background-color: #9A5E41;*/
  background-color: #D9B897;
}

.blanc{
  background-color: #9A5E41;
  opacity: 0.95;
}

.onglet_bandeau {
  height: 6vh;
  margin: 0;
  display: block;
}


}
>>>>>>> 9ff3e91ad57cfa7af0b914a9aff95b469ea84af5
